# Mapping Terms Application

This notebook explores the [Chronicling America API](https://chroniclingamerica.loc.gov/about/api/) for creating a map of the frequency certain terms appear in newspapers for a given time.

In [1]:
import pandas as pd
import requests
from geopy import geocoders
from geopy.extra.rate_limiter import RateLimiter
import plotly.offline as pyo
import plotly.graph_objs as go
import time
import sqlite3
start_time = time.time()
pyo.init_notebook_mode(connected=True)
searchTerm = "women+dog"
fileEmpty=False
List = []
List = searchTerm.split(",")
print(List)
conn = sqlite3.connect('example.db')
c = conn.cursor()
d = conn.cursor()
for i in List:
    print(i)
    #get the count of tables with the name
    c.execute(''' SELECT count(name) FROM sqlite_master WHERE type='table' AND name='womendog5' ''')
    
    #if the count is 1, then table exists
    if c.fetchone()[0]==1 :
        print('Table exists.')
        d.execute("SELECT * FROM womendog5")
        print(d.fetchall())
    else:
        print("table doesnt exist.")
        beginYear = 1850
        endYear = 1860
        pg=1
        endpg=4
        #too much data? I'm just grabbing the first few pages right now
        stop = False
        allData = []
        locs = {}
        pd.set_option('display.max_colwidth', -1)
        while not stop:
    #http://chroniclingamerica.loc.gov/search/pages/results/?andtext={searchTerms}&page={startPage?}&ortext={chronam:booleanOrText?}&year={chronam:year?}&date1={chronam:date?}&date2={chronam:date?}&phrasetext={chronam:phraseText?}&proxText={chronam:proxText?}&proximityValue={chronam:proximityValue?}&format=json"
            url = "http://chroniclingamerica.loc.gov/search/pages/results/?phrasetext={0}&dateFilterType=yearRange&date1={1}&date2={2}&page={3}&format=json".format(searchTerm,beginYear,endYear,pg)
            call = requests.get(url)
            data = call.json()
            df = pd.DataFrame(data["items"])
#             nf=pd.DataFrame()
#             americanPanda=pd.DataFrame()
            #only want city and date for this application
#             nf['date']=pd.to_datetime(df['date'])
#             nf['citystate']=df['city'].map(lambda a:a[0])+', '+df['state'].map(lambda a: a[0])
            c.execute('CREATE TABLE IF NOT EXISTS {tab} (date text, city text)'.format(tab="womendog5"))
            newDate=pd.to_datetime(df['date'])
            newLocation=df['city'].map(lambda a:a[0])+', '+df['county'].map(lambda a: a[0])+', '+df['state'].map(lambda a: a[0])
            countMain=0
            for one in newDate:
                value1=str(newDate[countMain])
                value2=str(newLocation[countMain])
                c.execute("INSERT INTO womendog5 VALUES (?,?)",(value1, value2))
                countMain= countMain + 1
#             loopCount=len(americanPanda.columns)
#             secondPanda=pd.DataFrame()
#             pdfList=[]
#             textList=[]
#             for count, url in enumerate(df['url'], start=1):
#                 print(count)
#                 call = requests.get(url)
#                 data = call.json()
#                 forframe = pd.DataFrame(data)
#                 forframe.index= [0,1,2]
#                 forpanda=pd.DataFrame()
#                 pdfframe=forframe['pdf']
#                 textframe=forframe['text']
#                 pdfList.append((pdfframe[0]))
#                 textList.append((textframe[0]))
#             americanPanda['keywords']=i
#             print(americanPanda)
            print("=============")
            conn.commit()
            c.execute("SELECT * FROM womendog5")
           
#             americanPanda.to_pickle(i+'.pkl')
            if pg==endpg:
                stop = True
            else:
                pg +=1     
    print("--- %s seconds ---" % (time.time() - start_time))
    print(c.fetchall())

['women+dog']
women+dog
Table exists.
[('1857-05-11 00:00:00', 'nan'), ('1859-12-02 00:00:00', 'Saint Paul, Ramsey, Minnesota'), ('1859-11-26 00:00:00', 'Red Wing, Goodhue, Minnesota'), ('1854-01-13 00:00:00', 'Wilmington, New Hanover, North Carolina'), ('1859-11-19 00:00:00', 'nan'), ('1853-06-29 00:00:00', 'New York, New York, New York'), ('1857-05-11 00:00:00', 'nan'), ('1859-12-02 00:00:00', 'Saint Paul, Ramsey, Minnesota'), ('1859-11-26 00:00:00', 'Red Wing, Goodhue, Minnesota'), ('1854-01-13 00:00:00', 'Wilmington, New Hanover, North Carolina'), ('1859-11-19 00:00:00', 'nan'), ('1853-06-29 00:00:00', 'New York, New York, New York'), ('1857-05-11 00:00:00', 'nan'), ('1859-12-02 00:00:00', 'Saint Paul, Ramsey, Minnesota'), ('1859-11-26 00:00:00', 'Red Wing, Goodhue, Minnesota'), ('1854-01-13 00:00:00', 'Wilmington, New Hanover, North Carolina'), ('1859-11-19 00:00:00', 'nan'), ('1853-06-29 00:00:00', 'New York, New York, New York'), ('1857-05-11 00:00:00', 'nan'), ('1859-12-02 00:00:00', 'Saint Paul, Ramsey, Minnesota'), ('1859-11-26 00:00:00', 'Red Wing, Goodhue, Minnesota'), ('1854-01-13 00:00:00', 'Wilmington, New Hanover, North Carolina'), ('1859-11-19 00:00:00', 'nan'), ('1853-06-29 00:00:00', 'New York, New York, New York')]
--- 0.0023500919342041016 seconds ---
[]